/*!
 * SAPUI5

		(c) Copyright 2009-2019 SAP SE. All rights reserved
	
 */
 
/*!
 * ${copyright}
 */
 
/*!
 * ${copyright}
 */
 .sapUiExportSettings .sapUiExportSettingsLabel>.sapMLabel::after{content:":"}#sap-ui-theme-sap\.ui\.export{background-image:url('data:text/plain;utf-8,%7B%7D')}